---
# Only the main Sass file needs front matter (the dashes are enough)
---
@font-face {
  font-display: fallback;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/raleway-semibold.woff2') format('woff2');
}

$base-typeface:    Georgia, serif;
$base-font-size:   16px !default;
$base-line-height: 1.25 !default;

$accent-typeface: 'Raleway', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif !default;

html {
  font-family: Georgia, serif;
  line-height: $base-line-height;
  font-size: $base-font-size;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1,
h2,
h3 {
  font-family: $accent-typeface;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

.site-navigation,
.collection-navigation {
  font-family: $accent-typeface;
}

.collection-listing,
.page-listing {
  list-style-type: none;
  padding-left: 0;

  li {
    background-color: #CCC;
    display: inline-block;
    padding: .3em;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: .3em .5em;
  }
}

.collection-listing a {
  width: 8em;
  background-color: #DDD;
}
