---
# Only the main Sass file needs front matter (the dashes are enough)
---
@font-face {
  font-display: fallback;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/raleway-semibold.woff2') format('woff2');
}

$accent-typeface:    'Raleway', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif !default;
$base-typeface:       Georgia, serif;
$base-font-size:      16px !default;
$base-line-height:    1.375 !default; // 22px
$content-width:       44em;
$theme-overlay-color: #fff;

/* Partial reset derived from normalize.css */

html {
  font-family: Georgia, serif;
  line-height: $base-line-height;
  font-size: $base-font-size;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1,
h2,
h3 {
  font-family: $accent-typeface;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

p {
  margin-top: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

/* Site Components */

.skip {
  position: relative;

  @at-root #{&}__link {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  @at-root #{&}__link:focus {
    background-color: $theme-overlay-color;
    clip: auto;
    height: auto;
    left: 0;
    padding: .2em .4em;
    top: 0;
    transition-property: background-color;
    width: auto;
    z-index: 1;
  }
}

.banner {
  display: grid;
  grid-template-columns: 1fr Min(58em, 100%) 1fr;

  & > * {
    grid-column: 2;
  }
}

.logo {
  font-family: $accent-typeface;
  font-size: 2em;
  line-height: 1.8;
  margin: 0;

  @at-root #{&}__link {
    display: inline-block;
    padding: .3em .5em;
    text-decoration: none;
  }
}

.nav {
  font-family: $accent-typeface;

  @at-root #{&}__listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  @at-root #{&}__list {
    box-sizing: border-box;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    padding: .3em;
  }

  @at-root #{&}__link {
    display: block;
    padding: .3em .5em;
    text-decoration: none;
  }

  @at-root #{&}--primary {
    .nav__listing {
      max-width: 60em;
    }

    .nav__list {
      flex-basis: Max(8em, 16%);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr Min($content-width, 100%) 1fr;

  & > * {
    grid-column: 2;
  }

  @at-root #{&}__full {
    grid-column: 1 / 4;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  @at-root #{&}__left {
    grid-column: 1 / 3;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  @at-root #{&}__right {
    grid-column: 2 / 4;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.media {
  @at-root #{&}__content {
    width: 100%;
    display: block;
    padding: .3em .5em;
    text-decoration: none;
  }

  @at-root #{&}__caption {
    font-style: italic;
  }
}

/* Responsive Breakpoints */

@media only screen and (min-width: 1000px) {
  html {
    font-size: 22px;
    line-height: 1.364; // 30px
  }

  .logo {
    display: inline-block;
  }
}

@media only screen and (min-width: 1860px) {
  .logo {
    grid-column: 1;
    padding: .5em 0;
    text-align: right;
  }

  .banner  .nav {
    margin: 1em 0;
  }
}
