@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway-semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Georgia, serif
}

h1,h2,h3 {
  font-family: 'Raleway', sans-serif
}
