<p class="separator" aria-hidden="true">* * *</p>

<div class="license">
  {%- if page.archive_page == "" or page.archive_page == nil -%}
  <p class="license__cc">
    <a class="license" rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="/assets/images/cc-by.png"></a>
    This work is <a href="/license/">licensed</a> under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
  </p>
  {%- else -%}
  <p class="license__legacy">
    <a href="/license/">Copyright</a> © 1996–2000, Rocketry Online, all rights reserved
  </p>
  {%- endif -%}
</div>
