
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
  <meta name="theme-color" content="#fed032" />
  <title>{{ page.title }}</title>{%- if page.description -%}
  <meta name="description" content="{{ page.description }}" />{%- endif -%}{%- if page.contubitors -%}
  <meta name="author" content="{{ page.contributors | join: ',' }}" />{%- endif -%}
  <link rel="preload" as="font" type="font/woff2" href="{{ "/fonts/red-hat-disply.woff2" | absolute_url }}" crossorigin>
  <link rel="alternate" type="application/atom+xml" title="Info Central" href="/feed.xml" />
  <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | absolute_url }}?{% css_version %}">{%- if page.mathjax == true -%}
  <script id="MathJax-script" async src="/js/mathjax/tex-chtml.js"></script>{% endif %}
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="apple-touch-icon" href="{{ "/images/apple-touch-icon.png" | absolute_url }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | absolute_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | absolute_url }}">
</head>
