<div class="metadata">
  <p class="separator" aria-hidden="true">* * *</p>
  {%- if page.collection == "regulation" -%}
  <p class="metadata__legal-notice">
    This information is provide for HISTORICAL REFERENCE ONLY.
    INFOcentral is neither a reliable reference for current regulations nor a reliable source of legal advice.
    Do your own research and consult a qualified attorney.
  </p>
  {%- endif -%}
  {%- if page.archive_page == "" or page.archive_page == nil -%}
  <p class="metadata__updated">
    This pages was last updated on {{ page.last_modified_at | date: '%Y-%m-%d' }}.
  </p>
  {%- else -%}
  <p class="metadata__archive">
    This page was first published on info-central.org which shut down in 2009.
    It was last updated on {{ page.last_modified_at | date: '%Y-%m-%d' }}; <a href="{{ page.archive_page | absolute_url }}">see the origional version</a>.
  </p>
  {%- endif -%}
</div>
