---
layout: page
---
{%- include page_header.html -%}

<main id="main" role="main" class="grid__full grid">
{{ content }}
{%- include page_metadata.html -%}
</main>

<footer>
  <p class="separator" aria-hidden="true">* * *</p>

  <h3 id="area-pages" class="area-pages">Area Pages</h3>
  <nav role="navigation" class="nav nav--secondary">
    <ul class="nav__listing">
      {%- for page in site.ground_support -%}
      <li class="nav__list">
        <a class="nav__link" href="{{ page.url }}">{{ page.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>

{%- include footer_content.html -%}
</footer>
