<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body class="homepage">
    <div class="skip">
      <a class="skip__link" href="#main">Skip to main content</a>
    </div>

    <header class="homepage__banner">
      <div class="logo--splash">
        <img src="/images/infocentral.gif" alt="Info Central"/>
      </div>
    </header>
    <div class="homepage__content">
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      <nav role="navigation" class="nav nav--homepage homepage__nav">
        <ul class="nav__listing">
          {%- for path in page_paths -%}
          {%- assign nav_page = site.pages | where: "path", path | first -%}
          {%- if nav_page.title -%}
          <li class="nav__list">
            <a class="nav__item nav__item--focusable" href="{{ nav_page.url | absolute_url }}">{{ nav_page.title | escape }}</a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </nav>

      <main id="main" role="main" class="homepage__main">
      {{ content }}
      </main>
    </div>

    <footer class="homepage__footer">
      <small class="attribution">Presented by</small>
      <a href="http://www.rocketryonline.com/home.html" class="attribution-logo logo--rol">
        <img src="/svg/rocketry-online.svg" alt="Rocketry Online"/>
      </a>
      <a href="https://rocketlabdelta.com" class="attribution-logo logo--rld">
        <img src="/svg/rocket-lab-delta.svg" alt="Rocket Lab Delta"/>
      </a>
    </footer>

    {% include sw.html %}
  </body>
</html>
