---
layout: page
---
{%- include page_header.html -%}

<main id="main" role="main" class="grid__full grid">
{{ content }}
{%- include page_metadata.html -%}
</main>

<footer class="site-footer">
  {%- assign area_path = "/motor_research/" -%}
  <h3 id="area-pages" class="area-pages grid__full">
    {%- if page.url == area_path -%}
    Area Pages
    {%- else -%}
    Pages in <a href="{{ area_path }}" class="area-pages__link">Motor Research</a>
    {%- endif -%}
  </h3>
  <nav role="navigation" class="nav nav--secondary">
    <ul class="nav__listing grid__full grid">
      {%- for page in site.motor_research -%}
      <li class="nav__list">
        <a class="nav__item" href="{{ page.url }}">{{ page.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>

{%- include footer_content.html -%}
</footer>
