---
layout: page
---
{%- include page_header.html -%}

<main id="main" role="main" class="grid__full grid">
{{ content }}
{%- include page_metadata.html -%}
</main>

<footer class="site-footer">
  {%- assign area_path = "/regulation/" -%}
  <small id="area-pages" class="area-pages grid__full">
    {%- if page.url == area_path -%}
    Area Pages
    {%- else -%}
    Pages in <a href="{{ area_path }}" class="area-pages__link">Regulation</a>
    {%- endif -%}
  </small>
  <nav role="navigation" class="nav nav--secondary">
    <ul class="nav__listing grid__full grid">
      {%- for related_page in site.regulation -%}
      <li class="nav__list">
        {%- if page.url == related_page.url -%}
        <span class="nav__item">{{ related_page.title | escape }}</span>
        {%- else -%}
        <a class="nav__item nav__item--focusable" href="{{ related_page.url }}">{{ related_page.title | escape }}</a>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </nav>

{%- include footer_content.html -%}
</footer>
