---
layout: page
---
{%- include page_header.html -%}

<main id="main" role="main" class="grid__full grid">
{{ content }}
{%- include page_metadata.html -%}
</main>

<footer class="grid__full grid">
  <p class="separator" aria-hidden="true">* * *</p>
  {%- assign area_path = "/regulation/" -%}
  <h3 id="area-pages" class="area-pages grid__full">
    {%- if page.url == area_path -%}
    Area Pages
    {%- else -%}
    <a href="{{ area_path }}" class="area-pages__link">Regulation</a> Pages
    {%- endif -%}
  </h3>
  <nav role="navigation" class="nav nav--secondary">
    <ul class="nav__listing">
      {%- for page in site.regulation -%}
      <li class="nav__list">
        <a class="nav__link" href="{{ page.url }}">{{ page.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>

{%- include footer_content.html -%}
</footer>
